<h4>CrossDomainPost</h4>
<p>
<div class="input-group col-md-12" style="margin-bottom:10px;">
  <label class="input-group-addon">&nbsp;&nbsp;&nbsp;url</label>
  <input type="text" class="form-control"  name="url" ng-model="testUrl">
</div>
<div class="input-group col-md-12" style="margin-bottom:10px;">
  <label class="input-group-addon">data</label>
  <input type="testData"  class="form-control" name="url" ng-model="testData">
</div>
<button class="btn btn-primary" style="margin-bottom:10px;float: right;" ng-click="send();">
  <span>send</span>
</button>
<div class="input-group col-md-12">
  <textarea class="form-control custom-control" rows="3" style="resize:none;display: block;"></textarea>
</div>
</p>
<hr/>

<h4>Routes</h4>
    <p>
        <a ng-hide="authenticated" href="#/login" class="btn btn-primary">Login</a>
        <a ng-hide="authenticated" href="#/passwordReset" class="btn btn-primary">Send Password Reset</a>
        <a ng-hide="authenticated" ng-click="goConfirmReset()" class="btn btn-primary">Confirm Password Reset</a>
    </p>
    <p>
        <a ng-show="authenticated" href="#/logout" class="btn btn-primary">Logout</a>
        <a ng-hide="authenticated" ng-href="#/register" class="btn btn-primary">Register</a>
        <a ng-click="goVerify()" class="btn btn-primary">Verify Email</a>
        <a ng-show="authenticated" href="#/passwordChange" class="btn btn-primary">Change Password</a>
        <a ng-show="authenticated" href="#/userProfile" class="btn btn-primary">Profile</a>
        <a href="#/authRequired" class="btn btn-primary">Restricted Page</a>
    </p>
<hr/>

